<?php
include_once '../common.php';
include_once '../head.php';
?>

<IMG SRC='./img/FK.png'><br/>
<IMG SRC='./img/TAL.png' style='width:300px'><br/>


<a href="./sorceress.html">파볼오브소서</a><br/>
<a href="./luna.html">룬 정리</a><br/>
<a href="./charm.php">으뜸참 옵션 정리</a><br/>
<a href="./item_level.html">아이템등급</a><br/>
<a href="./item_level_armor.html">아이템등급_아머</a><br/>
<a href="./item_level_helm.html">아이템등급_헬멧,벨트</a><br/>
<a href="./item_level_glove.html">아이템등급_장갑,부츠</a><br/>
<a href="./item_level_wapon.html?kind=1">아이템등급_무기_소드</a><br/>
<a href="./item_level_wapon.html?kind=2">아이템등급_무기_스피어</a><br/>
<a href="./item_level_wapon.html?kind=3">아이템등급_무기_스태프</a><br/>
<a href="./item_level_wapon.html?kind=4">아이템등급_무기_보우</a><br/>
<a href="./shi.php">팔라방패</a><br/>



<a href="./rare_item.html">득템검색</a><br/>
<a href="./magic_item.html">매직아이템 확인</a><br/>


<IMG SRC='./img/lv.jpg'><br/>

