<style type="text/css">
	span{color:#fff}
</style>


<div style="word-break:break-all;" id="contentszonezone"> 
<table border="0" cellpadding="5" width="100%" style="background-color:#000000;color:#FFFFFF;"><tbody><tr><td>

<br><br><center><font color="#908858"><b>노말 장갑 (Normal Gloves)</b></font><br><br><br><p> 

부츠와 마찬가지로 장갑은 보호 기능을 제공하지만 손에 달려 있습니다. 장갑은 캐릭터의 전반적인 방어력을 높여줍니다.
<br></p><p>


</p><center> 

<table border="3" cellpadding="5" width="800"><tbody><tr><th><font face="arial,helvetica" size="-1" color="#908858"><span>&nbsp;</span></font></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소/최대 방어력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소 힘</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>내구력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>보물 레벨</span></font></center></th> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/leathergloves.gif" width="62" height="63" alt="leathergloves.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>레더 글러브</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2-3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>-</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>12</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/heavygloves.gif" width="62" height="63" alt="heavygloves.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>헤비 글러브</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>5-6</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>-</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>14</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>7</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/chaingloves.gif" width="62" height="63" alt="chaingloves.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>체인 글러브</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>8-9</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>12</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/lightgauntlets.gif" width="62" height="63" alt="lightgauntlets.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>라이트 건들렛</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>9-11</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>45</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>18</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>20</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/gauntlets.gif" width="62" height="63" alt="gauntlets.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>건들렛</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>12-15</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>60</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>24</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>27</span></font></td> 

</tr></tbody></table></center> 


<br><br><br></center></td>
</tr></tbody></table><br><br><table border="0" cellpadding="5" width="100%" style="background-color:#000000;color:#FFFFFF;"><tbody><tr><td>
<br><br><center><font color="#908858"><b>익셉셔널 글러브 (Exceptional Gloves)</b></font></center> 

<br><br><p> 



</p><center> 

<table border="3" cellpadding="5" width="800"><tbody><tr><th><font face="arial,helvetica" size="-1"><span>&nbsp;</span></font></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소/최대 방어력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>요구 레벨</span></font></center> 

</th><th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소 힘</span></font></center> 

</th><th><center><font face="arial,helvetica" size="-1" color="#908858"><span>내구력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>보물 레벨</span></font></center></th> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/leathergloves.gif" width="62" height="63" alt="leathergloves.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>데몬 하이드 글러브</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>28-35</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>21</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>20</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>12</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>33</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/heavygloves.gif" width="62" height="63" alt="heavygloves.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>샤크스킨 글러브</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>33-39</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>20</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>14</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>39</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/chaingloves.gif" width="62" height="63" alt="chaingloves.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>해비 브레이서</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>37-44</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>58</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>43</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/lightgauntlets.gif" width="62" height="63" alt="lightgauntlets.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>배틀 건들렛</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>39-47</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>88</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>18</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>49</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/gauntlets.gif" width="62" height="63" alt="gauntlets.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>워 건들렛</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>43-53</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>110</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>24</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>54</span></font></td> 

</tr></tbody></table></center> 

<br><br></td>
</tr></tbody></table><br><br><table border="0" cellpadding="5" width="100%" style="background-color:#000000;color:#FFFFFF;"><tbody><tr><td>




<br><br><center><font color="#908858"><b>엘리트 장갑 (Elite Gloves)</b></font></center> 
<br><br><p> 



</p><center> 

<table border="3" cellpadding="5" width="800"><tbody><tr><th><font face="arial,helvetica" size="-1"><span>&nbsp;</span></font></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소/최대 방어력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>요구 레벨</span></font></center> 

</th><th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소 힘</span></font></center> 

</th><th><center><font face="arial,helvetica" size="-1" color="#908858"><span>내구력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>보물 레벨</span></font></center></th> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/leathergloves.gif" width="62" height="63" alt="leathergloves.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>브램블 미츠</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>54-62</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>42</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>50</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>12</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>57</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/heavygloves.gif" width="62" height="63" alt="heavygloves.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>뱀파이어본 글러브</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>56-65</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>47</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>50</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>14</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>63</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/chaingloves.gif" width="62" height="63" alt="chaingloves.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>뱀브레이시즈</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>59-67</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>51</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>106</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>69</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/lightgauntlets.gif" width="62" height="63" alt="lightgauntlets.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>크루세이더 건들렛</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>59-68</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>57</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>151</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>18</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>76</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/gauntlets.gif" width="62" height="63" alt="gauntlets.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>오우거 건들렛</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>62-71</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>64</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>185</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>24</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>85</span></font></td> 

</tr></tbody></table></center> 


<div style="word-break:break-all;" id="contentszonezone"> 
<table border="0" cellpadding="5" width="100%" style="background-color:#000000;color:#FFFFFF;"><tbody><tr><td>

<br><br><center><font color="#908858"><b>노멀 부츠 (Normal Boots)</b></font></center> 

<br><br><p> 

표준 신발은 발바닥에 대한 기본적인 보호를 제공합니다. 캐릭터가 가죽 부츠를 착용하면 발에 가해지는 추가적인 보호와 다리의 아래 부분이 전반적인 방어력을 향상시킵니다. 무거운 부츠 소재는 착용자에게 더 많은 보호를 제공합니다. 어떤 무거운 부츠는 더 강한 힘을 요구합니다.

</p><p> 





</p><center> 

<table border="3" cellpadding="5" width="800"><tbody><tr><th><font face="arial,helvetica" size="-1"><span>&nbsp;</span></font></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소/최대 방어력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소 힘</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>내구력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>어쎄신 킥 데미지</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>보물 레벨</span></font></center></th> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/leatherboots.gif" width="62" height="63" alt="leatherboots.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>부츠</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2-3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>-</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>12</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3-8</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/heavyboots.gif" width="62" height="63" alt="heavyboots.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>해비 부츠</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>5-6</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>18</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>14</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4-10</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>7</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/chainboots.gif" width="62" height="63" alt="chainboots.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>체인 부츠</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>8-9</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>30</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>6-12</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>12</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/lightplateboots.gif" width="62" height="63" alt="lightplateboots.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>라이트 플레이트 부츠</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>9-11</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>50</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>18</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>8-16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>20</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/plateboots.gif" width="62" height="63" alt="plateboots.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>그리브스</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>12-15</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>70</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>24</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>10-20</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>27</span></font></td> 

</tr></tbody></table></center> 

<br><br><br></td>
</tr></tbody></table><br><br><table border="0" cellpadding="5" width="100%" style="background-color:#000000;color:#FFFFFF;"><tbody><tr><td>
<br><br><center><font color="#908858"><b>익셉셔널 부츠 (Exceptional Boots)</b></font></center> 

<br><br><center> 

<table border="3" cellpadding="5" width="800"><tbody><tr><th><font face="arial,helvetica" size="-1"><span>&nbsp;</span></font></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소/최대 방어력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>요구 레벨</span></font></center> 

</th><th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소 힘</span></font></center> 

</th><th><center><font face="arial,helvetica" size="-1" color="#908858"><span>내구력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>어쎄신 킥 데미지</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>보물 레벨</span></font></center></th> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/leatherboots.gif" width="62" height="63" alt="leatherboots.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>데몬하이드 부츠</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>28-35</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>24</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>20</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>12</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>26-46</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>36</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/heavyboots.gif" width="62" height="63" alt="heavyboots.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>샤크스킨 부츠</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>33-39</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>47</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>14</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>28-50</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>39</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/chainboots.gif" width="62" height="63" alt="chainboots.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>메쉬 부츠</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>37-44</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>65</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>23-52</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>43</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/lightplateboots.gif" width="62" height="63" alt="lightplateboots.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>배틀 부츠</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>39-47</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>95</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>18</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>37-64</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>49</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/plateboots.gif" width="62" height="63" alt="plateboots.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>워 부츠</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>43-53</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>125</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>24</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>39-80</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>54</span></font></td> 

</tr></tbody></table></center> 

<br><br></td>
</tr></tbody></table><br><br><table border="0" cellpadding="5" width="100%" style="background-color:#000000;color:#FFFFFF;"><tbody><tr><td>




<br><br><center><font color="#908858"><b>Elite Boots</b></font></center> 

<br><br><center> 

<table border="3" cellpadding="5" width="800"><tbody><tr><th><font face="arial,helvetica" size="-1"><span>&nbsp;</span></font></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소/최대 방어력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>요구 레벨</span></font></center> 

</th><th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소 힘</span></font></center> 

</th><th><center><font face="arial,helvetica" size="-1" color="#908858"><span>내구력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>어쎄신 킥 데미지</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>보물 레벨</span></font></center></th> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/leatherboots.gif" width="62" height="63" alt="leatherboots.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>웜하이드 부츠</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>54-62</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>45</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>50</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>12</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>65-100</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>60</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/heavyboots.gif" width="62" height="63" alt="heavyboots.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>스캐럽쉡 부츠</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>56-65</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>49</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>91</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>14</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>60-110</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>66</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/chainboots.gif" width="62" height="63" alt="chainboots.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>본위브 부츠</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>59-67</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>54</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>118</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>69-118</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>72</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/lightplateboots.gif" width="62" height="63" alt="lightplateboots.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>미러드 부츠</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>59-68</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>60</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>163</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>18</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>50-145</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>81</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/plateboots.gif" width="62" height="63" alt="plateboots.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>미어마이던 부츠</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>62-71</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>65</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>208</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>24</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>83-149</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>85</span></font></td> 

</tr></tbody></table></center> 

<br><br></td>
</tr></tbody></table></div>


