<style type="text/css">
	span{color:#fff}
</style>
<div style="word-break:break-all;" id="contentszonezone"> 

<table border="0" cellpadding="5" width="100%" style="background-color:#000000;color:#FFFFFF;"><tbody><tr><td>

<br><br><center><font color="#908858"><b>노말 아머 (Normal Armor)</b></font><br></center> 
<br><br><p> 
전투 중에 죽음을 목격 한 전사는 심지어 가죽 한 조각이라도 삶과 죽음의 차이를 의미 할 수 있음을 알고 있습니다. 강한 방어구를 착용하면 당신의 캐릭터에게 큰 타격을 입히지 않게됩니다.
</p><p> 

갑옷의 묘사는 보호 장치를 착용하는 데 필요한 강도를 나타냅니다. 캐릭터가 요구 사항을 충족시키지 못하면 갑옷을 장비 할 수 없습니다. 사용할 수없는 갑옷은 재고 목록에 빨간색 배경이 있습니다. 갑옷 설명에는 방어 값, 공격을 차단할 기회 (해당되는 경우), 현재 및 총 내구성, 마법 속성 등 다른 중요한 정보도 들어 있습니다.

</p><p> 
갑옷은 또한 달릴 수있는 능력에 영향을 줄 수 있습니다. 무거운 갑옷은 체력을 더 빨리 소모시킵니다. 이것은 캐릭터의 활력을 증가시킴으로써 어느 정도 상쇄 될 수 있습니다.

</p><p> 





</p><center> 

<table border="3" cellpadding="5" width="800"><tbody><tr><th><font face="arial,helvetica" size="-1"><span>&nbsp;</span></font></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소/최대 방어력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소 힘</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>내구력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>소켓</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>타입</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>보물 등급</span></font></center></th> 

</tr><tr><td align="center"> 

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/quilted.gif" width="62" height="91" alt="quilted.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>퀼트 아머</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>8-11</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>12</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>20</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Light</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>1</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/leather.gif" width="62" height="91" alt="leather.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>레더 아머</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>14-17</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>15</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>24</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Light</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/hardleather.gif" width="62" height="91" alt="hardleather.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>하드 래더 아머</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>21-24</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>20</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>28</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Light</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>5</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/studdedleather.gif" width="62" height="91" alt="studdedleather.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>스터디드 래더</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>32-35</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>27</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>32</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Light</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>8</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/ringmail.gif" width="62" height="91" alt="ringmail.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>링 메일</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>45-48</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>36</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>26</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Medium</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>11</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/scalemail.gif" width="62" height="91" alt="scalemail.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>스케일 메일</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>57-60</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>44</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>36</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Heavy</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>13</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/breastplate.gif" width="62" height="91" alt="breastplate.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>브레스트 플레이트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>65-68</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>30</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>50</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Light</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>18</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/chainmail.gif" width="62" height="91" alt="chainmail.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>체인 메일</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>72-75</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>48</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>45</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Medium</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>15</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/splintmail.gif" width="62" height="91" alt="splintmail.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>스플린트 메일</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>90-95</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>51</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>30</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Medium</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>20</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/lightplate.gif" width="62" height="91" alt="lightplate.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>라이트 플레이트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>90-107</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>41</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>60</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Light</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>35</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/fieldplate.gif" width="62" height="91" alt="fieldplate.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>필드 플레이트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>101-105</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>55</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>48</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Medium</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>28</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/platemail.gif" width="62" height="91" alt="platemail.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>플레이트 메일</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>108-116</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>65</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>60</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Heavy</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>24</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/gothicplate.gif" width="62" height="91" alt="gothicplate.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>고딕 플레이트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>128-135</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>70</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>55</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Medium</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>32</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/fullplate.gif" width="62" height="91" alt="fullplate.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>풀 플레이트 메일</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>150-161</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>80</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>70</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Heavy</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>37</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/ancientarmor.gif" width="62" height="91" alt="ancientarmor.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>에이션트 아머</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>218-233</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>100</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>60</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Medium</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>40</span></font></td> 

</tr></tbody></table></center> 





<br><br><br></td>
</tr></tbody></table><br><br><table border="0" cellpadding="5" width="100%" style="background-color:#000000;color:#FFFFFF;"><tbody><tr><td>
<br><br><center><font color="#908858"><b>익셉셔널 아머 (Exceptional Armor)</b></font></center> 


<p> 


</p><center> 

<table border="3" cellpadding="5" width="800"><tbody><tr><th><font face="arial,helvetica" size="-1"><span>&nbsp;</span></font></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소/최대 방어력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>요구 레벨</span></font></center>

</th><th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소 힘</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>내구력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>소켓</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>타입</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>보물 등급</span></font></center></th> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/quilted.gif" width="62" height="91" alt="quilted.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>고스트 아머</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>102-117</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>22</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>38</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>20</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Light</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>34</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/leather.gif" width="62" height="91" alt="leather.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>서펜스킨 아머</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>111-126</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>24</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>43</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>24</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Light</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>36</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/hardleather.gif" width="62" height="91" alt="hardleather.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>데몬하이드 아머</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>122-136</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>50</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>28</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Light</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>37</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/studdedleather.gif" width="62" height="91" alt="studdedleather.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>트릴리스트 아머</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>138-153</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>61</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>32</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Light</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>40</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/ringmail.gif" width="62" height="91" alt="ringmail.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>링크드 메일</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>158-172</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>74</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>26</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Medium</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>42</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/scalemail.gif" width="62" height="91" alt="scalemail.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>티거레이티드 메일</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>176-190</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>86</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>36</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Heavy</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>43</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/breastplate.gif" width="62" height="91" alt="breastplate.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>퀴라스</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>188-202</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>65</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>50</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Light</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>47</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/chainmail.gif" width="62" height="91" alt="chainmail.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>메쉬 아머</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>198-213</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>92</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>45</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Medium</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>45</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/splintmail.gif" width="62" height="91" alt="splintmail.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>러셋 아머</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>225-243</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>97</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>30</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Medium</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>49</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/lightplate.gif" width="62" height="91" alt="lightplate.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>메이지 플레이트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>225-261</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>55</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>60</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Light</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>60</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/fieldplate.gif" width="62" height="91" alt="fieldplate.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>샤크투스 아머</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>242-258</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>103</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>48</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Medium</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>55</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/platemail.gif" width="62" height="91" alt="platemail.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>템플라 코트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>252-274</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>118</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>60</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Heavy</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>52</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/gothicplate.gif" width="62" height="91" alt="gothicplate.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>엠보스드 플레이트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>282-303</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>125</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>55</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Medium</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>58</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/fullplate.gif" width="62" height="91" alt="fullplate.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>카오스 아머</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>315-342</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>140</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>70</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Heavy</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>61</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/ancientarmor.gif" width="62" height="91" alt="ancientarmor.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>오네이트 플레이트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>417-450</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>170</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>60</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Medium</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>64</span></font></td> 

</tr></tbody></table></center> 


<br><br></td>
</tr></tbody></table><br><table border="0" cellpadding="5" width="100%" style="background-color:#000000;color:#FFFFFF;"><tbody><tr><td>




<br><br><center><font color="#908858"><b>엘리트 아머 (Elite Armor)</b></font></center> 
<br><br><center> 

<table border="3" cellpadding="5" width="800"><tbody><tr><th><font face="arial,helvetica" size="-1"><span>&nbsp;</span></font></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소/최대 방어력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>요구 레벨</span></font></center>

</th><th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소 힘</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>내구력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>소켓</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>타입</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>보물 등급</span></font></center></th> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/quilted.gif" width="62" height="91" alt="quilted.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>더스크 슈라우드</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>361-467</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>49</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>77</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>20</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Light</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>65</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/leather.gif" width="62" height="91" alt="leather.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>윔하이드</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>364-470</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>50</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>84</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>24</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Light</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>67</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/hardleather.gif" width="62" height="91" alt="hardleather.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>스캐럽 허스크</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>369-474</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>51</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>95</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>28</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Light</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>68</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/studdedleather.gif" width="62" height="91" alt="studdedleather.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>와이어 프리스</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>375-481</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>53</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>111</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>32</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Light</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>70</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/ringmail.gif" width="62" height="91" alt="ringmail.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>다이아몬드 메일</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>383-489</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>54</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>131</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>26</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Medium</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>72</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/scalemail.gif" width="62" height="91" alt="scalemail.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>로리케이티드 메일</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>390-496</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>55</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>149</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>36</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Heavy</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>73</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/breastplate.gif" width="62" height="91" alt="breastplate.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>그레이트 허버크</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>395-501</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>56</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>118</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>50</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Light</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>75</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/chainmail.gif" width="62" height="91" alt="chainmail.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>본위브</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>399-505</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>47</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>158</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>45</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Medium</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>62</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/splintmail.gif" width="62" height="91" alt="splintmail.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>바로그 스킨</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>410-517</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>57</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>165</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>30</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Medium</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>76</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/lightplate.gif" width="62" height="91" alt="lightplate.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>아콘 플레이트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>410-524</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>63</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>103</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>60</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Light</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>84</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/fieldplate.gif" width="62" height="91" alt="fieldplate.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>크라켄 쉘</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>417-523</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>61</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>174</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>48</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Medium</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>81</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/platemail.gif" width="62" height="91" alt="platemail.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>헬포지 플레이트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>421-530</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>59</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>196</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>60</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Heavy</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>78</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/gothicplate.gif" width="62" height="91" alt="gothicplate.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>라쿼드 플레이트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>433-541</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>62</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>208</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>55</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Medium</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>82</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/fullplate.gif" width="62" height="91" alt="fullplate.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>쉐도우 플레이트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>446-557</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>64</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>230</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>70</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Heavy</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>83</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/ancientarmor.gif" width="62" height="91" alt="ancientarmor.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>사크레드 아머</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>487-600</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>66</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>232</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>60</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>4</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>Medium</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>85</span></font></td> 

</tr></tbody></table></center> 

<br><br><br>
출처 : 아리앗 서밋<br></td>
</tr></tbody></table></div>