<div style="word-break:break-all;" id="contentszonezone">


<table border="0" cellpadding="5" width="100%" style="background-color:#000000;color:#FFFFFF;"><tbody><tr><td>

 


<br><br><center><b>노말 헬름</b></center> 
<br><br><p> 
전문가들은 머리가 신체의 가장 중요한 부분이라고 생각합니다. 어떤 종류의 보호가 없다면,이 중요한 사지에서 쉽게 분리 될 수 있습니다. 헬멧은 그러한 사건이 가능한 것 같지 않도록합니다. 심플한 가죽 모자에서 로얄 크라운에 이르기까지 헬름은 전투의 가혹한 현실을 보호합니다.



</p><p> 



</p><center> 

<table border="3" cellpadding="5" width="800"><tbody><tr><th><font face="arial,helvetica" size="-1"><span>&nbsp;</span></font></th> 

<th><center><font face="arial,helvetica" size="-1"><span>최소/최대 방어력</span></font><center></center></center></th> 

<th><center><font face="arial,helvetica" size="-1"><span>최소 힘</span></font></center> 

</th><th><center><font face="arial,helvetica" size="-1"><span>내구력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1"><span>소켓</span></font></center> 

</th><th><center><font face="arial,helvetica" size="-1"><span>보물 등급</span></font></center></th> 

</tr><tr><td align="center">

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/cap.gif" width="62" height="62" alt="cap.gif"><center><font face="arial,helvetica" size="-1"><span><b>캡</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3-5</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>-</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>12</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>1</span></font></td> 

</tr><tr><td align="center">

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/skullcap.gif" width="62" height="62" alt="skullcap.gif"><center><font face="arial,helvetica" size="-1"><span><b>스컬 캡</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>8-11</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>15</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>18</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>5</span></font></td> 

</tr><tr><td align="center">

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/helm.gif" width="62" height="62" alt="helm.gif"><center><font face="arial,helvetica" size="-1"><span><b>헬름</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>15-18</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>26</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>24</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>11</span></font></td> 

</tr><tr><td align="center">

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/fullhelm.gif" width="62" height="62" alt="fullhelm.gif"><center><font face="arial,helvetica" size="-1"><span><b>풀 헬름</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>23-26</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>41</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>30</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>15</span></font></td> 

</tr><tr><td align="center">

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/greathelm.gif" width="62" height="62" alt="greathelm.gif"><center><font face="arial,helvetica" size="-1"><span><b>그레이트 헬름</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>30-35</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>63</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>40</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>23</span></font></td> 

</tr><tr><td align="center">

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/mask.gif" width="62" height="62" alt="mask.gif"><center><font face="arial,helvetica" size="-1"><span><b>마스크</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>9-27</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>23</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>20</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>19</span></font></td> 

</tr><tr><td align="center"> 

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/crown.gif" width="62" height="62" alt="crown.gif"><center><font face="arial,helvetica" size="-1"><span><b>크라운</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25-45</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>55</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>50</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>29</span></font></td> 

</tr><tr><td align="center">

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/bonehelm.gif" width="62" height="62" alt="bonehelm.gif"><center><font face="arial,helvetica" size="-1"><span><b>본 헬름</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>33-36</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>40</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>22</span></font></td> 

</tr></tbody></table></center> 



 


<br><br></td>
</tr></tbody></table><br><br><table border="0" cellpadding="5" width="100%" style="background-color:#000000;color:#FFFFFF;"><tbody><tr><td>
<br><br><center><b>익셉셔널 헬름 (Exceptional Helms)</b><br></center>
<br><br><center> 

<table border="3" cellpadding="5" width="800"><tbody><tr><th><font face="arial,helvetica" size="-1"><span>&nbsp;</span></font></th> 

<th><center><font face="arial,helvetica" size="-1"><span>최소/최대 방어력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1"><span>요구 레벨</span></font></center>
</th><th><center><font face="arial,helvetica" size="-1"><span>최소 힘</span></font></center> 

</th><th><center><font face="arial,helvetica" size="-1"><span>내구력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1"><span>소켓</span></font></center> 

</th><th><center><font face="arial,helvetica" size="-1"><span>보물 등급</span></font></center></th> 

</tr><tr><td align="center"> 

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/cap.gif" width="62" height="62" alt="cap.gif"><center><font face="arial,helvetica" size="-1"><span><b>워 햇</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>45-53</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>22</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>20</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>12</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>34</span></font></td> 

</tr><tr><td align="center"> 

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/skullcap.gif" width="62" height="62" alt="skullcap.gif"><center><font face="arial,helvetica" size="-1"><span><b>살레트</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>52-62</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>43</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>18</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>37</span></font></td> 

</tr><tr><td align="center"> 

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/helm.gif" width="62" height="62" alt="helm.gif"><center><font face="arial,helvetica" size="-1"><span><b>캐스크</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>63-72</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>59</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>24</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>42</span></font></td> 

</tr><tr><td align="center"> 

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/fullhelm.gif" width="62" height="62" alt="fullhelm.gif"><center><font face="arial,helvetica" size="-1"><span><b>바시넷</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>75-84</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>82</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>30</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>45</span></font></td> 

</tr><tr><td align="center"> 

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/greathelm.gif" width="62" height="62" alt="greathelm.gif"><center><font face="arial,helvetica" size="-1"><span><b>윙드 헬름</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>85-98</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>115</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>40</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>51</span></font></td> 

</tr><tr><td align="center"> 

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/mask.gif" width="62" height="62" alt="mask.gif"><center><font face="arial,helvetica" size="-1"><span><b>데쓰 마스크</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>54-86</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>55</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>20</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>48</span></font></td> 

</tr><tr><td align="center"> 

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/crown.gif" width="62" height="62" alt="crown.gif"><center><font face="arial,helvetica" size="-1"><span><b>그랜드 크라운</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>78-113</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>103</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>50</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>55</span></font></td> 

</tr><tr><td align="center"> 

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/bonehelm.gif" width="62" height="62" alt="bonehelm.gif"><center><font face="arial,helvetica" size="-1"><span><b>그림 헬름</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>60-125</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>58</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>40</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 
<td align="center"><font face="arial,helvetica" size="-1"><span>50</span></font></td> 

</tr></tbody></table></center> 



 



<br><br></td>
</tr></tbody></table><br><table border="0" cellpadding="5" width="100%" style="background-color:#000000;color:#FFFFFF;"><tbody><tr><td>




<br><br><center><b>엘리트 헬름 (Elite Helms)</b></center> 
<br><br><center> 

<table border="3" cellpadding="5" width="800"><tbody><tr><th><font face="arial,helvetica" size="-1"><span>&nbsp;</span></font></th> 

<th><center><font face="arial,helvetica" size="-1"><span>최소/최대 방어력</span></font></center></th> 
<th><center><font face="arial,helvetica" size="-1"><span>요구 레벨</span></font></center>
</th><th><center><font face="arial,helvetica" size="-1"><span>최소 힘</span></font></center> 

</th><th><center><font face="arial,helvetica" size="-1"><span>내구력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1"><span>소켓</span></font></center> 

</th><th><center><font face="arial,helvetica" size="-1"><span>보물 등급</span></font></center></th> 


</tr><tr><td align="center"> 

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/cap.gif" width="62" height="62" alt="cap.gif"><center><font face="arial,helvetica" size="-1"><span><b>샤코</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>98-141</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>43</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>50</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>12</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>58</span></font></td> 

</tr><tr><td align="center"> 

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/skullcap.gif" width="62" height="62" alt="skullcap.gif"><center><font face="arial,helvetica" size="-1"><span><b>히드라 스컬</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>101-145</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>47</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>84</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>18</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>63</span></font></td> 

</tr><tr><td align="center"> 

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/helm.gif" width="62" height="62" alt="helm.gif"><center><font face="arial,helvetica" size="-1"><span><b>아멧</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>105-149</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>51</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>109</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>24</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>68</span></font></td> 

</tr><tr><td align="center"> 

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/fullhelm.gif" width="62" height="62" alt="fullhelm.gif"><center><font face="arial,helvetica" size="-1"><span><b>자이언트 콘치</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>110-154</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>40</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>142</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>30</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>54</span></font></td> 

</tr><tr><td align="center"> 

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/greathelm.gif" width="62" height="62" alt="greathelm.gif"><center><font face="arial,helvetica" size="-1"><span><b>스파이어드 헬름</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>114-159</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>59</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>192</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>40</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>79</span></font></td> 

</tr><tr><td align="center"> 

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/mask.gif" width="62" height="62" alt="mask.gif"><center><font face="arial,helvetica" size="-1"><span><b>데몬헤드 마스크</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>101-154</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>55</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>102</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>20</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>74</span></font></td> 

</tr><tr><td align="center"> 

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/crown.gif" width="62" height="62" alt="crown.gif"><center><font face="arial,helvetica" size="-1"><span><b>코로나</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>111-165</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>66</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>174</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>50</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>85</span></font></td> 

</tr><tr><td align="center"> 

<img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/bonehelm.gif" width="62" height="62" alt="bonehelm.gif"><center><font face="arial,helvetica" size="-1"><span><b>본 비스에이지</b></span></font></center> 

<br clear="left"></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>100-157</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>63</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>106</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>40</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>84</span></font></td> 

</tr></tbody></table></center> 



 

<p> 




<style type="text/css">
	span{color:#fff}
</style>


<div style="word-break:break-all;" id="contentszonezone"> 
<table border="0" cellpadding="5" width="100%" style="background-color:#000000;color:#FFFFFF;"><tbody><tr><td>

<br><br><center><font color="#908858"><b>노말 벨트 (Normal Belts)</b></font></center> 

<br><br><p> 

벨트는 캐릭터의 생존에 중요한 역할을 합니다. 빠른 액세스를 위해 설계된 벨트에는 마시는 물약을 담을 수있는 슬롯이 여러 개 있으며 식별 또는 타운 포털을 스크롤 할 수 있습니다. 벨트가 클수록 벨트가 더 많이 장착됩니다. 새시 또는 큰 벨트를 착용하면 1, 2 또는 3 개의 추가 슬롯 열을 추가하여 기본 4 슬롯 벨트를 확장 할 수 있습니다.
</p><p> 



</p><center> 

<table border="3" cellpadding="5" width="800"><tbody><tr><th><font face="arial,helvetica" size="-1"><span>&nbsp;</span></font></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소/최대 방어력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소 힘</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>내구력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>#박스</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>보물 레벨</span></font></center></th> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/sash.gif" width="62" height="33" alt="sash.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>사쉬</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>2</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>-</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>12</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>8</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/lightbelt.gif" width="62" height="33" alt="lightbelt.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>라이트 벨트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>3</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>-</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>14</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>8</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>7</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/belt.gif" width="62" height="33" alt="belt.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>벨트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>5</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>12</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>12</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/heavybelt.gif" width="62" height="33" alt="heavybelt.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>헤비 벨트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>6</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>45</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>18</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>12</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>20</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/girdle.gif" width="62" height="33" alt="girdle.gif"><br clear="left"><font face="arial,helvetica" size="-1"><span><b>플레이트 벨트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>8-11</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>60</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>24</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>27</span></font></td> 

</tr></tbody></table></center> 

<br><br><br></td>
</tr></tbody></table><br><br><table border="0" cellpadding="5" width="100%" style="background-color:#000000;color:#FFFFFF;"><tbody><tr><td>
<br><br><center><font color="#908858"><b>익셉셔날 밸트 (Exceptional Belts)</b></font></center> 
<br><br><center> 

<table border="3" cellpadding="5" width="800"><tbody><tr><th><font face="arial,helvetica" size="-1"><span>&nbsp;</span></font></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소/최대 방어력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소/최대 방어력</span></font></center> 

</th><th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소 힘</span></font></center> 

</th><th><center><font face="arial,helvetica" size="-1" color="#908858"><span>내구력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>#박스</span></font></center> 

</th><th><center><font face="arial,helvetica" size="-1" color="#908858"><span>보물 레벨</span></font></center></th> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/sash.gif" width="62" height="33" alt="sash.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>데몬하이드 사쉬</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>29-34</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>24</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>20</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>12</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>36</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/lightbelt.gif" width="62" height="33" alt="lightbelt.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>샤크스킨 벨트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>31-36</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>20</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>14</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>39</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/belt.gif" width="62" height="33" alt="belt.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>메쉬 벨트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>35-40</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>58</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>43</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/heavybelt.gif" width="62" height="33" alt="heavybelt.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>베틀 벨트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>37-42</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>88</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>18</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>49</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/girdle.gif" width="62" height="33" alt="girdle.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>워 벨트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>41-52</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>25</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>110</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>24</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>54</span></font></td> 

</tr></tbody></table></center> 


<br><br></td>
</tr></tbody></table><br><br><table border="0" cellpadding="5" width="100%" style="background-color:#000000;color:#FFFFFF;"><tbody><tr><td>




<br><br><center><font color="#908858"><b>엘리트 벨트 (Elite Belts)</b></font></center> 
<br><br><center> 

<table border="3" cellpadding="5" width="800"><tbody><tr><th><font face="arial,helvetica" size="-1"><span>&nbsp;</span></font></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소/최대 방어력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소/최대 방어력</span></font></center> 

</th><th><center><font face="arial,helvetica" size="-1" color="#908858"><span>최소 힘</span></font></center> 

</th><th><center><font face="arial,helvetica" size="-1" color="#908858"><span>내구력</span></font></center></th> 

<th><center><font face="arial,helvetica" size="-1" color="#908858"><span>#박스</span></font></center> 

</th><th><center><font face="arial,helvetica" size="-1" color="#908858"><span>보물 레벨</span></font></center></th>

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/sash.gif" width="62" height="33" alt="sash.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>스파이더 웹 사쉬</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>55-62</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>46</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>50</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>12</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>61</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/lightbelt.gif" width="62" height="33" alt="lightbelt.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>뱀파이어 팽 벨트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>56-63</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>51</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>50</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>14</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>68</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/belt.gif" width="62" height="33" alt="belt.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>미스릴 코일</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>58-65</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>56</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>106</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>75</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/heavybelt.gif" width="62" height="33" alt="heavybelt.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>트롤 벨트</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>59-66</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>62</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>151</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>18</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>82</span></font></td> 

</tr><tr><td align="center"><img src="http://classic.battle.net/images/battle/diablo2exp/images/items/armor/girdle.gif" width="62" height="33" alt="girdle.gif"><br clear="left"><br><font face="arial,helvetica" size="-1"><span><b>콜로서스 거들</b></span></font> 

</td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>61-71</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>67</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>185</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>24</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>16</span></font></td> 

<td align="center"><font face="arial,helvetica" size="-1"><span>85</span></font></td> 

</tr></tbody></table></center> 

<br><br><br>
출처 : 아리앗 서밋<br></td>
</tr></tbody></table></div>

