<img src='./img/luna1.png' style='width:70%'>
<p>&nbsp;</p>
<table style="border-collapse: collapse; width: 100%; height: 680px;" border="1">
<tbody>
<tr style="height: 20px;" bgcolor="#212121">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16"><b><span style="color: #ffffff;">번호</span></b></p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16"><b><span style="color: #ffffff;">이름</span></b></p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16"><b><span style="color: #ffffff;">조합 재료</span></b></p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16"><b><span style="color: #ffffff;">결과물</span></b></p>
</td>
</tr>
<tr style="height: 20px;">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">1</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">엘(El)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">엘(El)룬&nbsp;3개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">엘드(Eld)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;" bgcolor="#f6f6f6">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">2</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">엘드(Eld)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">엘드(Eld)룬&nbsp;3개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">티르(Tir)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">3</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">티르(Tir)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">티르(Tir)룬&nbsp;3개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">네프(Nef)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;" bgcolor="#f6f6f6">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">4</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">네프(Nef)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">네프(Nef)룬&nbsp;3개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">에드(Eth)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">5</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">에드(Eth)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">에드(Eth)룬&nbsp;3개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">아이드(Ith)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;" bgcolor="#f6f6f6">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">6</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">아이드(Ith)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">아이드(Ith)룬&nbsp;3개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">탈(Tal)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">7</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">탈(Tal)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">탈(Tal)룬&nbsp;3개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">랄(Ral)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;" bgcolor="#f6f6f6">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">8</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">랄(Ral)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">랄(Ral)룬&nbsp;3개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">오르트(Ort)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">9</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">오르트(Ort)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">오르트(Ort)룬&nbsp;3개&nbsp;+&nbsp;</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">주울(Thul)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;" bgcolor="#f6f6f6">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">10</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">주울(Thul)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">주울(Thul)룬&nbsp;3개&nbsp;+&nbsp;최하급&nbsp;토파즈&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">앰(Amn)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">11</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">앰(Amn)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">앰(Amn)룬&nbsp;3개&nbsp;+&nbsp;최하급&nbsp;자수정&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">솔(Sol)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;" bgcolor="#f6f6f6">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">12</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">솔(Sol)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">솔(Sol)룬&nbsp;3개&nbsp;+&nbsp;최하급&nbsp;사파이어&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">샤엘(Sheal)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">13</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">샤엘(Sheal)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">샤엘(Sheal)룬&nbsp;3개&nbsp;+&nbsp;최하급&nbsp;루비&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">돌(Dol)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;" bgcolor="#f6f6f6">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">14</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">돌(Dol)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">돌(Dol)룬&nbsp;3개&nbsp;+&nbsp;최하급&nbsp;에메랄드&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">헬(Hel)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">15</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">헬(Hel)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">헬(Hel)룬&nbsp;3개&nbsp;+&nbsp;최하급&nbsp;다이아몬드&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">포_이오(Io)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;" bgcolor="#f6f6f6">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">16</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">포_이오(Io)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">포_이오(Io)룬&nbsp;3개&nbsp;+&nbsp;하급&nbsp;토파즈&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">룸(Lum)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">17</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">룸(Lum)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">룸(Lum)룬&nbsp;3개&nbsp;+&nbsp;하급&nbsp;자수정&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">코(Ko)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;" bgcolor="#f6f6f6">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">18</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">코(Ko)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">코(Ko)룬&nbsp;3개&nbsp;+&nbsp;하급&nbsp;사파이어&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">팔(Pal)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">19</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">팔(Pal)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">팔(Fal)룬&nbsp;3개&nbsp;+&nbsp;하급&nbsp;루비&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">렘(Lem)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;" bgcolor="#f6f6f6">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">20</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">렘(Lem)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">렘(Lem)룬&nbsp;2개&nbsp;+&nbsp;하급&nbsp;에메랄드&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">풀(Pul)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">21</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">풀(Pul)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">풀(Pul)룬&nbsp;2개&nbsp;+&nbsp;하급&nbsp;다이아몬드&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">우움(Um)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;" bgcolor="#f6f6f6">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">22</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">우움(Um)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">우움(Um)룬&nbsp;2개&nbsp;+&nbsp;토파즈&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">말(Mal)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">23</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">말(Mal)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">말(Mal)룬&nbsp;2개&nbsp;+&nbsp;자수정&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">아이스트(Ist)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;" bgcolor="#f6f6f6">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">24</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">아이스트(Ist)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">아이스트(Ist)룬&nbsp;2개&nbsp;+&nbsp;사파이어&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">굴(Gul)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">25</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">굴(Gul)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">굴(Gul)룬&nbsp;2개&nbsp;+&nbsp;루비&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">벡스(Vex)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;" bgcolor="#f6f6f6">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">26</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">벡스(Vex)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">벡스(Vex)룬&nbsp;2개&nbsp;+&nbsp;에메랄드&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">오움(Ohm)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">27</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">오움(Ohm)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">오움(Ohm)룬&nbsp;2개&nbsp;+&nbsp;다이아몬드&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">로(Lo)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;" bgcolor="#f6f6f6">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">28</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">로(Lo)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">로(Lo)룬&nbsp;2개&nbsp;+&nbsp;상급&nbsp;토파즈&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">수르(Sur)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">29</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">수르(Sur)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">수르(Sur)룬&nbsp;2개&nbsp;+&nbsp;상급&nbsp;자수정&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">베르(Ber)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;" bgcolor="#f6f6f6">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">30</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">베르(Ber)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">베르(Ber)룬&nbsp;2개&nbsp;+&nbsp;상급&nbsp;사파이어&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">자(Jah)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">31</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">자(Jah)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">자(Jah)룬&nbsp;2개&nbsp;+&nbsp;상급&nbsp;루비&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">참(Cham)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;" bgcolor="#f6f6f6">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">32</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">참(Cham)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">
<p data-ke-size="size16">참(Cham)룬&nbsp;2개 + 상급&nbsp;에메랄드&nbsp;1개</p>
</td>
<td style="width: 25%; height: 20px; text-align: center;">
<p data-ke-size="size16">조드(Zod)룬&nbsp;1개</p>
</td>
</tr>
<tr style="height: 20px;">
<td style="width: 10%; height: 20px; text-align: center;">
<p data-ke-size="size16">33</p>
</td>
<td style="width: 20%; height: 20px; text-align: center;">
<p data-ke-size="size16">조드(Zod)</p>
</td>
<td style="width: 45%; height: 20px; text-align: center;">&nbsp;</td>
<td style="width: 25%; height: 20px; text-align: center;">&nbsp;</td>
</tr>
</tbody>
</table>
