<blockquote style="border: 1px solid rgb(232, 200, 183); background-color: #ffe2e2; padding: 5px 10px;">
<p style="text-align: center;"><br></p>

<p>&nbsp;</p>
<blockquote style="padding: 5px 10px; border-width: 1px; border-style: solid; border-color: rgb(232, 200, 183); font-size: 17px; background-color: rgb(255, 220, 201); max-width: 100%;">
<ul style="font-size: 17px; list-style-position: inside; list-style-type: disc; max-width: 100%;">
<li style="font-size: 17px; max-width: 100%;"><a href="https://bbs.ruliweb.com/family/2086/board/300007/read/2226690" target="_blank" style="color: #1a70dc; max-width: 100%;"><b style="font-size: 17px; max-width: 100%;"><span style="font-size: 17px; max-width: 100%; color: rgb(255, 128, 0); font-family: verdana;">
디아블로 2: 레저렉션' 종합 정보</span></b></a></li>
<li style="font-size: 17px; max-width: 100%;"><a href="https://bbs.ruliweb.com/family/2086/board/300007/read/2236530" target="_blank" style="color: #1a70dc; max-width: 100%;"><span style="font-size: 17px; max-width: 100%;"><span style="font-size: 17px; max-width: 100%;"><span style="font-size: 17px; max-width: 100%;"><font color="#1A70DC" style="max-width: 100%;"><span style="font-size: 17px; max-width: 100%;"><b style="font-size: 17px; max-width: 100%;"><span style="font-size: 17px; max-width: 100%; color: rgb(255, 128, 0); font-family: verdana;">
레저렉션과 오리지널 주요 변경점
비교</span></b></span></font></span></span></span></a></li>
<li style="font-size: 17px; max-width: 100%;"><a href="https://bbs.ruliweb.com/family/2086/board/300007/read/2240044" target="_blank" style="color: #1a70dc; max-width: 100%;"><span style="font-size: 17px; max-width: 100%;"><b style="font-size: 17px; max-width: 100%;"><span style="font-size: 17px; max-width: 100%; color: rgb(255, 128, 0); font-family: verdana;">
컨텐츠 추가? 디아블로 2 레저렉션 공식 설문조사 시작</span></b></span></a></li>
<li style="font-size: 17px; max-width: 100%;"><a href="https://bbs.ruliweb.com/family/2086/board/300007/read/2240765" target="_blank" style="color: #1a70dc; max-width: 100%;"><span style="font-size: 17px; max-width: 100%;"><b style="font-size: 17px; max-width: 100%;"><span style="font-size: 17px; max-width: 100%; color: rgb(255, 128, 0); font-family: verdana;">
레저렉션 한국어 '음역' 번역 관련 재수정 안내</span></b></span></a></li>
<li style="font-size: 17px; max-width: 100%;"><span style="font-size: 17px; max-width: 100%; color: rgb(26, 112, 220);"><b style="font-size: 17px; max-width: 100%;"><span style="font-size: 17px; max-width: 100%; color: rgb(255, 128, 0);"><a href="https://bbs.ruliweb.com/family/2086/board/300001/read/2252793" target="_blank" style="color: #1a70dc; max-width: 100%;"><span style="font-size: 17px; max-width: 100%; color: rgb(255, 128, 0); font-family: verdana;">
디아블로2 팁&amp;정보 모음(템 업글, 파밍법, 경험치, 조합법
등)</span></a></span></b></span></li>
<li style="font-size: 17px; max-width: 100%;"><b style="font-size: 17px; max-width: 100%;"><a href="https://bbs.ruliweb.com/family/2086/board/300007/read/2241151" target="_blank" style="color: #1a70dc; max-width: 100%;"><span style="font-size: 17px; max-width: 100%; color: rgb(255, 128, 0); font-family: verdana;">
레저렉션 발매 전 인터뷰, 신규 콘텐츠 검토 중, 안전성 우선!</span></a></b></li>
<li style="font-size: 17px; max-width: 100%;"><a href="https://bbs.ruliweb.com/family/2086/board/185642/read/1530" target="_blank" style="color: #1a70dc; max-width: 100%;"><span style="font-size: 17px; max-width: 100%; font-family: verdana; color: rgb(255, 128, 0);">
<b style="font-size: 17px; max-width: 100%;">디아블로2 레저렉션 모든 정보 글
모음</b></span></a></li>
</ul>
</blockquote>
<p style="font-size: 17px; max-width: 100%; text-align: center;">
<span style="font-size: 17px;">&nbsp;</span></p>
<p style="text-align: left; font-size: 17px; max-width: 100%;">초보자나
복귀자들도 볼만한 아이템 득템 기준 총 정리 글 입니다. 득템 또는 자신이 사용해도 될 정도로 잘 정리가 되어있습니다.
참고로 레저렉션에서는 래더 룬워드 및 유니크들이 스탠에서도 이제 제작 및 드랍되어서 <span style="color: #ff0000;">'래더 전용'</span> 부분은 빼고 보셔도 됩니다.&nbsp;</p>
<p style="text-align: left; font-size: 17px; max-width: 100%;">
&nbsp;</p>
<p style="text-align: left; font-size: 17px; max-width: 100%;">
<span style="color: #ff0000;"><b>＊참고:</b> 기존 번역과 다르기 떄문에 다른점은 레거시
버튼(기본 설정: G) 눌러서 확인하시면 됩니다.</span></p>
<p style="font-size: 17px; max-width: 100%; text-align: center;">
&nbsp;</p>
<blockquote style="border: 1px solid rgb(211, 188, 235); background-color: #e6ccff; padding: 5px 10px;">
<p><b>※유니크 무기 및 장신구(반지, 목걸이)</b></p>
</blockquote>
<p style="font-size: 17px; max-width: 100%; text-align: center;">
<br></p>
<blockquote style="border: 1px solid rgb(232, 200, 183); background-color: #ffdcc9; padding: 5px 10px;">
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: center;"><iframe src="https://www.youtube.com/embed/EBv-VjBprWs" frameborder="0" allowfullscreen=""></iframe></p>
<p style="text-align: left;">&nbsp;</p>
<blockquote style="border: 1px solid rgb(195, 232, 158); background-color: #d6ffad; padding: 5px 10px;">
<p><b style="font-size: 17px;">◈ 아이템 득템 기준</b></p>
<ul>
<li>★☆☆☆☆: 쓸 수 있으나 거래가치는 거의 X</li>
<li>★★☆☆☆: 가끔 거래가 되는 정도</li>
<li>★★★☆☆: 갖고 있다가 거래할만한 정도</li>
<li>★★★★☆: 거래가 잘 되는 정도</li>
<li>★★★★★: 득템!</li>
</ul>
<p><br></p>
<b>◈&nbsp;</b><b style="font-size: 17px;">반지</b>
<ul>
<li>스톤 오브 조던 (조던링)- ★★★★★</li>
<li>레이븐 프로스트 (레이븐링) - ★★★★☆</li>
<li>발카서스의 웨딩 밴드 (발카링) - ★★★★★</li>
</ul>
<p><br></p>
<p><b style="font-size: 17px;">◈ 아뮬렛</b></p>
<ul>
<li><span style="font-size: 17px;">캐츠아이 - ★★★☆☆</span></li>
<li><span style="font-size: 17px;">아트마의 스캐럽 (아트마) -
★★★★☆</span></li>
<li><span style="font-size: 17px;">하이로드의 래쓰 (하이로드) -
★★★★☆</span></li>
</ul>
<p style="font-size: 17px;"><br></p>
<p><span style="font-size: 17px; background-color: rgb(214, 255, 173); font-weight: bold;"></span><b style="font-size: 17px;">◈
무기(액스)</b><span style="font-size: 17px; background-color: rgb(214, 255, 173);"></span></p>
<ul>
<li>룬마스터 - ★★☆☆☆, 5소켓 ★★★☆☆, 에테리얼+5소켓 ★★★★★</li>
<li>데쓰 클리버 - ★★☆☆☆, 에테리얼 ★★★★☆</li>
<li>엑시큐셔너의 저스티스 - ★★☆☆☆, 에테리얼 ★★★☆☆</li>
</ul>
<p style="font-size: 17px;"><br></p>
<p><span style="font-size: 17px; background-color: rgb(214, 255, 173); font-weight: bold;"></span><b style="font-size: 17px;">◈
무기(활&amp;크로스보우)&nbsp;</b><span style="font-size: 17px; background-color: rgb(214, 255, 173);"></span></p>
<ul>
<li>레이븐 클러 (폭활) - ★★☆☆☆</li>
<li>윗치와일드 스트링 (윗치활, 윗치보우) - ★★☆☆☆</li>
<li>윈드포스 (윈포) - ★★★☆☆</li>
<li>부리쟈도 캬논 (발리스타) - ★★☆☆☆</li>
</ul>
<p style="font-size: 17px;"><br></p>
<p><span style="font-size: 17px; background-color: rgb(214, 255, 173); font-weight: bold;"></span><b style="font-size: 17px;">◈
무기(대거)</b><span style="font-size: 17px; background-color: rgb(214, 255, 173);"></span></p>
<ul>
<li>위저드스파이크 (위자드) - ★★☆☆☆</li>
</ul>
<p style="font-size: 17px;"><br></p>
<p><span style="font-size: 17px; background-color: rgb(214, 255, 173); font-weight: bold;"></span><b style="font-size: 17px;">◈
무기(메이스)</b><span style="font-size: 17px; background-color: rgb(214, 255, 173);"></span></p>
<ul>
<li>스톰래쉬 - ★★★☆☆</li>
</ul>
<p style="font-size: 17px;"><br></p>
<p><span style="font-size: 17px; background-color: rgb(214, 255, 173); font-weight: bold;"></span><b style="font-size: 17px;">◈
무기(폴암)&nbsp;</b><span style="font-size: 17px; background-color: rgb(214, 255, 173);"></span></p>
<ul>
<li>본휴 - ★☆☆☆☆, 에테리얼 ★★☆☆☆</li>
<li>리퍼스 톨 - ★★★★☆, 에테리얼 ★★★★★</li>
<li>툼 리버 - ★★★★☆, 3소켓 ★★★★★, 에테리얼+3소켓 ★★★★★★★★★★</li>
</ul>
<p style="font-size: 17px;"><br></p>
<p><span style="font-size: 17px; background-color: rgb(214, 255, 173); font-weight: bold;"></span><b style="font-size: 17px;">◈
무기(스태프)</b><span style="font-size: 17px; background-color: rgb(214, 255, 173);"></span></p>
<ul>
<li>립크래커 - ★☆☆☆☆</li>
</ul>
<p style="font-size: 17px;"><br></p>
<p><span style="font-size: 17px; background-color: rgb(214, 255, 173); font-weight: bold;"></span><b style="font-size: 17px;">◈
무기(칼 or 소드)</b><span style="font-size: 17px; background-color: rgb(214, 255, 173);"></span></p>
<ul>
<li>블레이드 오브 알리바바 (알리바바) - ★★☆☆☆ ~ ★★★☆☆</li>
<li>에이저래쓰 (신라세) - ★★★☆☆</li>
<li>그랜드파더 (할배검) - ★★★☆☆</li>
</ul>
<p style="font-size: 17px;"><br></p>
<p><span style="font-size: 17px; background-color: rgb(214, 255, 173); font-weight: bold;"></span><b style="font-size: 17px;">◈
무기(스로잉)</b><span style="font-size: 17px; background-color: rgb(214, 255, 173);"></span></p>
<ul>
<li>워슈라이크 - ★☆☆☆☆, 에테리얼 ★★★☆☆ 이상</li>
<li>래서레이트 - ★☆☆☆☆, 에테리얼 ★★★☆☆ 이상</li>
</ul>
<p style="font-size: 17px;"><br></p>
<p><span style="font-size: 17px; background-color: rgb(214, 255, 173); font-weight: bold;"></span><b style="font-size: 17px;">◈
무기(완드)</b><span style="font-size: 17px; background-color: rgb(214, 255, 173);"></span></p>
<ul>
<li>본쉐이드 - ★★☆☆☆, 변동옵 잘 붙으면 ★★★☆☆ 이상</li>
<li>데쓰웹 - ★★★★★, 2 포이즌 + 포깎 높으면 ★★★★★★★★★★</li>
</ul>
<p style="font-size: 17px;"><br></p>
<p><span style="font-size: 17px; background-color: rgb(214, 255, 173); font-weight: bold;"></span><b style="font-size: 17px;">◈
무기(직업전용)</b><span style="font-size: 17px; background-color: rgb(214, 255, 173);"></span></p>
<ul>
<li>타이탄의 리벤지 (타이탄) - ★★★★☆, 에테리얼 ★★★★★</li>
<li>선더스트로크 (신타이탄) - ★★☆☆☆</li>
<li>오큘러스 (신오브) - ★★★☆☆</li>
<li>에슈타스 템퍼 (엘드리치) - ★★★★☆</li>
<li>데쓰 패썸 (샤드 or 디멘셔널 샤드) - ★★★☆☆</li>
</ul>
<span style="font-weight: bold; font-size: 17px; background-color: rgb(214, 255, 173);"></span></blockquote>
<p>&nbsp;</p>
</blockquote>
<p style="text-align: left; font-size: 17px; max-width: 100%;">
<br></p>
<blockquote style="border: 1px solid rgb(211, 188, 235); background-color: #e6ccff; padding: 5px 10px;">
<p><b>※유니크 방어구</b></p>
</blockquote>
<p style="text-align: left; font-size: 17px; max-width: 100%;">
<br></p>
<blockquote style="border: 1px solid rgb(232, 200, 183); background-color: #ffdcc9; padding: 5px 10px;">
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: center;"><iframe src="https://www.youtube.com/embed/oQDwbnDVHEw" frameborder="0" allowfullscreen=""></iframe></p>
<p><br></p>
<blockquote style="border: 1px solid rgb(195, 232, 158); background-color: #d6ffad; padding: 5px 10px;">
<p style="font-size: 17px;"><b style="font-size: 17px; background-color: rgb(214, 255, 173);">◈ 아이템 득템 기준</b></p>
<ul>
<li>★☆☆☆☆: 쓸 수 있으나 거래가치는 거의 X</li>
<li>★★☆☆☆: 가끔 거래가 되는 정도</li>
<li>★★★☆☆: 갖고 있다가 거래할만한 정도</li>
<li>★★★★☆: 거래가 잘 되는 정도</li>
<li>★★★★★: 득템!</li>
</ul>
<p style="text-align: left; font-size: 17px;"><br></p>
<b>◈&nbsp;</b><b style="font-size: 17px;">헬멧</b>
<ul>
<li>스틸스컬 - ★☆☆☆☆</li>
<li>크라운 오브 디브스 - ★★☆☆☆</li>
<li>벰파이어 게이즈 (그림헬름) - ★★★☆☆</li>
<li>할리퀸 크레스트 (샤코) - ★★★★★</li>
<li>나이트윙의 베일 - ★★☆☆☆ ~ ★★★☆☆</li>
<li>안다리엘의 비지스 (안다뚜껑) - ★★★★★, 에테리얼이면 ★★★★★★★★★★</li>
<li>크라운 오브 에이지스 (유닉 코로나) - ★★★☆☆, 옵션 좋으면 ★★★★★ (2소켓 필수)</li>
<li>자이언트 스컬 (유닉 본 비지스) - ★★☆☆☆ (2소켓 필수)</li>
<li>그리폰의 아이 (유닉 다뎀 or 다뎀) - ★★★★★, 옵션 좋으면 ★★★★★★★★★★</li>
<li>잘알의 메인 (늑드루 뚜껑) - ★☆☆☆☆~★★☆☆☆ (레저렉션에서 오르지 않을까..?)</li>
<li>아리앗의 페이스 (슬가) - ★★★☆☆</li>
</ul>
<p><br></p>
<b>◈&nbsp;</b><b style="font-size: 17px;">갑옷</b>
<ul>
<li>스킨 오브 바이퍼마이자이 (소서 교복 or 소서 구교복) - ★★★☆☆</li>
<li>듀리엘의 쉘 (듀리엘갑) - ★☆☆☆☆, 에테리얼이면 ★★☆☆☆</li>
<li>샤프트스톱 (메쉬아머) - ★☆☆☆☆, 에테리얼이면 ★★☆☆☆</li>
<li>스컬더의 아이어 (러셋아머) - ★☆☆☆☆, 에테리얼이면 ★★☆☆☆ (레저렉션에서 오르지 않을까..?)</li>
<li>퀘히간의 위즈덤 (소서 동복) - ★☆☆☆☆</li>
<li>가디안 엔젤 (팔라 교복) - ★☆☆☆☆</li>
<li>오르무스 로브 (소서 신교복) - ★★☆☆☆, 쓰는 스킬이면 ★★★☆☆</li>
</ul>
<p><br></p>
<b><span style="font-size: 17px;">◈&nbsp;</span><span style="font-size: 17px;">방패</span></b>
<ul>
<li>리드리스 윌 (그림쉴드) - ★☆☆☆☆</li>
<li>스톰쉴드 (유닉 모너크) - ★★☆☆☆</li>
<li>호우먼컬러스 (호우먼) - ★★☆☆☆ ~ ★★★☆☆ (레저렉션에서는 3개)</li>
<li>헤럴드 오브 자카럼 (자카럼) - ★★☆☆☆ ~ ★★★☆☆ (레저렉션에서는 3개)</li>
</ul>
<p><br></p>
<b><span style="font-size: 17px;">◈&nbsp;</span><span style="font-size: 17px;">장갑</span></b>
<ul>
<li>챈스 가드 (챈가) - ★☆☆☆☆</li>
<li>메이지피스트 (메피장갑 or 메피장) - ★★★☆☆</li>
<li>프로스트번 (프번) - ★☆☆☆☆</li>
<li>드라큘의 그래스프 (뱀파장) - ★★★☆☆</li>
<li>스틸렌드 (오거장) - ★☆☆☆☆ ~ ★★☆☆☆</li>
</ul>
<p><br></p>
<b><span style="font-size: 17px;">◈&nbsp;</span><span style="font-size: 17px;">신발</span></b>
<ul>
<li>고블린 토우 (고블린 부츠) - ★☆☆☆☆</li>
<li>워터워크 (물부츠) - ★★★☆☆</li>
<li>워 트래블러 (배추) - ★★★★★</li>
<li>고어 라이더 (고어부츠) - ★★★☆☆ ~ ★★★★☆</li>
<li>샌드스톰 트랙 (유닉 스캐럽쉘) - ★★★☆☆, 에테리얼+좋은 옵션 - ★★★★★</li>
<li>메로우워커 (유닉 본위브 or 유닉 본위브부츠) - ★★★☆☆ (2 스켈레톤 마스터리 필수)</li>
<li>쉐도우 댄서 (쉐댄) - ★★☆☆☆ (2 쉐도우 디서플린 필수)</li>
</ul>
<p><br></p>
<b><span style="font-size: 17px;">◈&nbsp;</span><span style="font-size: 17px;">벨트</span></b>
<ul>
<li>골드랩 - ★☆☆☆☆</li>
<li>레이저테일 (관통벨트) - ★★☆☆☆</li>
<li>스노우클래쉬 (유닉 배틀벨트) - ★★☆☆☆</li>
<li>선더갓의 비거 (선더갓) - ★★★☆☆</li>
<li>아라크니드 메쉬 (스웹벨트) - ★★★★★</li>
<li>노스페라투의 코일 (뱀팡벨트) - ★★★☆☆</li>
<li>베르던고의 하티 코드 (유닉 미스릴 or 베르던고) - ★★★☆☆</li>
</ul>
</blockquote>
<p style="text-align: left;">&nbsp;</p>
</blockquote>
<p style="text-align: left; font-size: 17px; max-width: 100%;">
<br></p>
<blockquote style="border: 1px solid rgb(211, 188, 235); background-color: #e6ccff; padding: 5px 10px;">
<p><b>※세트 아이템</b></p>
</blockquote>
<p style="text-align: left; font-size: 17px; max-width: 100%;">
&nbsp;</p>
<blockquote style="border: 1px solid rgb(232, 200, 183); background-color: #ffdcc9; padding: 5px 10px;">
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><iframe src="https://www.youtube.com/embed/216ChL97F4g" frameborder="0" allowfullscreen=""></iframe></p>
<p>&nbsp;</p>
<blockquote style="border: 1px solid rgb(195, 232, 158); background-color: #d6ffad; padding: 5px 10px;">
<p style="font-size: 17px;"><b style="font-size: 17px; background-color: rgb(214, 255, 173);">◈ 아이템 득템 기준</b></p>
<ul style="font-size: 17px;">
<li style="font-size: 17px;">★☆☆☆☆: 쓸 수 있으나 거래가치는 거의 X</li>
<li style="font-size: 17px;">★★☆☆☆: 가끔 거래가 되는 정도</li>
<li style="font-size: 17px;">★★★☆☆: 갖고 있다가 거래할만한 정도</li>
<li style="font-size: 17px;">★★★★☆: 거래가 잘 되는 정도</li>
<li style="font-size: 17px;">★★★★★: 득템!</li>
<li style="font-size: 17px;">&nbsp;</li>
<li></li>
</ul>
<p><b style="font-size: 17px;"><span style="font-size: 17px;">◈&nbsp;</span><span style="font-size: 17px;">사이곤
컴플릿 스틸 (시곤셋)</span></b></p>
<ul style="font-size: 17px;">
<li style="font-size: 17px;">전체 세트 가치 - ★★☆☆☆ (거래는 잘 되나, 구하기가 쉬워서
공급량이 많음)</li>
<li style="font-size: 17px;">장갑, 벨트 - ★★☆☆☆</li>
<li style="font-size: 17px;">신발 - ★☆☆☆☆ ~ ★★☆☆☆</li>
<li style="font-size: 17px;">머리, 갑옷, 방패 - ★☆☆☆☆</li>
</ul>
<p style="font-size: 17px;"><br></p>
<p><b style="font-size: 17px;"><span style="font-size: 17px;">◈&nbsp;</span><span style="font-size: 17px;">엔젤릭
레이먼트 (엔젤릭셋, 엔젤셋)</span></b></p>
<ul style="font-size: 17px;">
<li style="font-size: 17px;">전체 세트 가치 - ★☆☆☆☆</li>
<li style="font-size: 17px;">반지, 목걸이 - ★★☆☆☆ ~ ★★★☆☆ (둘이 묶어서 팔아야
가치가 있음)</li>
<li style="font-size: 17px;">갑옷, 칼 - ★☆☆☆☆</li>
</ul>
<p style="font-size: 17px;"><br></p>
<p><b style="font-size: 17px;"><span style="font-size: 17px;">◈&nbsp;</span><span style="font-size: 17px;">탈
라샤의 래핑스 (탈셋, 탈라샤셋)</span></b></p>
<ul style="font-size: 17px;">
<li style="font-size: 17px;">전체 세트 가치 - ★★★★★ (레저렉션에서 더더욱 비쌀
것)</li>
<li style="font-size: 17px;">갑옷, 목걸이 - ★★★★☆ ~ ★★★★★ (드럽게 안나옴)</li>
<li style="font-size: 17px;">소서 전용봉, 머리, 벨트 - ★★★☆☆ (소서 전용 봉 2/2/2
뜨면 ★★★★☆ ~ ★★★★★)</li>
</ul>
<p style="font-size: 17px;"><br></p>
<p><b style="font-size: 17px;"><span style="font-size: 17px;">◈&nbsp;</span><span style="font-size: 17px;">트랑-울의 아바타 (트랑울, 트랑울셋)</span></b></p>
<ul style="font-size: 17px;">
<li style="font-size: 17px;"><span style="font-size: 17px;">전체 세트
가치 - ★☆☆☆☆ ~ ★★☆☆☆ (뱀파이어 변신되면 구려서 안써요)</span></li>
<li style="font-size: 17px;">장갑 - ★★★★☆</li>
<li style="font-size: 17px;">벨트 - ★★☆☆☆</li>
<li style="font-size: 17px;">갑옷, 머리, 네크 전용 방패 - ★☆☆☆☆ ~ ★★☆☆☆</li>
</ul>
<p style="font-size: 17px;"><br></p>
<p><b style="font-size: 17px;"><span style="font-size: 17px;">◈&nbsp;</span><span style="font-size: 17px;">그리스월드의 리가시 (그리스월드)</span></b></p>
<ul style="font-size: 17px;">
<li style="font-size: 17px;">전체 세트 가치 - ★☆☆☆☆ ~ ★★☆☆☆ (다른 좋은 세팅이 많아
굳이 안씁니다)</li>
<li style="font-size: 17px;">모든 부위 - ★☆☆☆☆ ~ ★★☆☆☆ (셉터 3소켓이면
★★★☆☆)</li>
</ul>
<p style="font-size: 17px;"><br></p>
<p><b style="font-size: 17px;"><span style="font-size: 17px;">◈&nbsp;</span><span style="font-size: 17px;">임모틀
킹 (임모탈셋, 임모셋)</span></b></p>
<ul style="font-size: 17px;">
<li style="font-size: 17px;">전체 세트 가치 - ★★☆☆☆ ~ ★★★☆☆</li>
<li style="font-size: 17px;">갑옷 - ★★★☆☆ (잘 안나와서 별 3개)</li>
<li style="font-size: 17px;">나머지 모든 부위 - ★★☆☆☆ ~ ★★★☆☆</li>
</ul>
<p style="font-size: 17px;"><br></p>
<p><b style="font-size: 17px;"><span style="font-size: 17px;">◈&nbsp;</span><span style="font-size: 17px;">오펀의
콜</span></b></p>
<ul style="font-size: 17px;">
<li style="font-size: 17px;">길리엄의 페이스(길리엄 뚜껑) - ★★★☆☆</li>
<li style="font-size: 17px;">빌헬름의 프라이드(빌헬름 벨트) - ★★☆☆☆</li>
</ul>
<p style="font-size: 17px;"><br></p>
<p><b style="font-size: 17px;"><span style="font-size: 17px;">◈&nbsp;</span><span style="font-size: 17px;">마비나의 배틀 힘 (마비나셋)</span></b></p>
<ul style="font-size: 17px;">
<li style="font-size: 17px;">전체 세트 가치 - ★★☆☆☆ ~ ★★★☆☆</li>
<li style="font-size: 17px;">머리 - ★★★☆☆ (다이어뎀 잘 안나와서 별 3개)</li>
<li style="font-size: 17px;">나머지 모든 부위 - ★★☆☆☆ ~ ★★★☆☆</li>
</ul>
<p style="font-size: 17px;"><br></p>
<p><b style="font-size: 17px;"><span style="font-size: 17px;">◈&nbsp;</span><span style="font-size: 17px;">나탈리아의 오디엄 (나탈셋)</span></b></p>
<ul style="font-size: 17px;">
<li style="font-size: 17px;">전체 세트 가치 - ★☆☆☆☆ ~ ★★☆☆☆ (어쎄 비주류만 거의
사용)</li>
<li style="font-size: 17px;">머리 - ★☆☆☆☆ ~ ★★☆☆☆ (변동옵션 좋으면
★★★☆☆~)</li>
<li style="font-size: 17px;">나머지 모든 부위 - ★☆☆☆☆ ~ ★★☆☆☆</li>
</ul>
<p style="font-size: 17px;"><br></p>
<p><b style="font-size: 17px;"><span style="font-size: 17px;">◈&nbsp;</span><span style="font-size: 17px;">알더의
와치타워 (알더셋)</span></b></p>
<ul style="font-size: 17px;">
<li style="font-size: 17px;">전체 세트 가치 - ★☆☆☆☆ (너무 쓰기 애매함)</li>
<li style="font-size: 17px;">신발 - ★★☆☆☆</li>
<li style="font-size: 17px;">나머지 모든 부위 - ★☆☆☆☆</li>
</ul>
<p style="font-size: 17px;"><br></p>
<p><b style="font-size: 17px;"><span style="font-size: 17px;">◈&nbsp;</span><span style="font-size: 17px;">디싸이플</span></b></p>
<ul style="font-size: 17px;">
<li style="font-size: 17px;">텔링 오브 비드 (목걸이) - ★☆☆☆☆ ~ ★★☆☆☆</li>
<li style="font-size: 17px;">레잉 오브 핸즈 (고무장갑) - ★★☆☆☆ ~ ★★★☆☆</li>
<li style="font-size: 17px;">크리덴덤 (벨트) - ★★☆☆☆</li>
</ul>
</blockquote>
<p><br></p>
</blockquote>
<p style="text-align: left; font-size: 17px; max-width: 100%;">
&nbsp;</p>
<blockquote style="border: 1px solid rgb(211, 188, 235); background-color: #e6ccff; padding: 5px 10px;">
<p><b>※룬어(룬워드) 및 소켓 아이템</b></p>
</blockquote>
<p style="text-align: left; font-size: 17px; max-width: 100%;">
<br></p>
<blockquote style="border: 1px solid rgb(232, 200, 183); background-color: #ffdcc9; padding: 5px 10px;">
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">1. 정해진 순서대로 꽂는다</p>
<p style="text-align: center;">2. 회색인 아이템에만 룬워드가 가능하다</p>
<p style="text-align: center;">3. 각 룬어(룬워드)마다 정해진 아이템 종류에만 룬어가
가능하다</p>
<p style="text-align: center;"><span style="font-size: 17px;">4.</span><span style="color: rgb(255, 0, 0); font-size: 17px;">레저렉션에는 래더 룬워드들도 이제 제작이
가능</span></p>
<p>&nbsp;</p>
<p style="text-align: center;"><b>■ 룬워드 개념 및 기초 가이드 ■</b></p>
<p style="text-align: center;"><iframe src="https://www.youtube.com/embed/Sx0Cgvy6fjo" frameborder="0" allowfullscreen=""></iframe></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: center;"><iframe src="https://www.youtube.com/embed/1PYm5ZDFIfk" frameborder="0" allowfullscreen=""></iframe></p>
<p style="text-align: center;"><br></p>
</blockquote>
<p style="font-size: 17px; max-width: 100%; text-align: center;">
<br></p>
<blockquote style="border: 1px solid rgb(211, 188, 235); background-color: #e6ccff; padding: 5px 10px;">
<p style="text-align: left;"><b>※참 및 보석</b></p>
</blockquote>
<p>&nbsp;</p>
<blockquote style="border: 1px solid rgb(232, 200, 183); background-color: #ffdcc9; padding: 5px 10px;">
<p>&nbsp;</p>
<p style="text-align: center;"><iframe src="https://www.youtube.com/embed/xTIiLjp7QLw" frameborder="0" allowfullscreen=""></iframe></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="text-align: center;"><iframe src="https://www.youtube.com/embed/8SZfeQyKSPg" frameborder="0" allowfullscreen=""></iframe></p>
<p>&nbsp;</p>
</blockquote>
<p>&nbsp;</p>
<p style="text-align: left; font-size: 17px; max-width: 100%;">
<span style="font-size: 17px; background-color: rgb(255, 226, 226); max-width: 100%; color: rgb(0, 0, 0);">
디아블로 II: 레저렉션&nbsp;</span><span style="font-size: 17px; background-color: rgb(255, 226, 226); max-width: 100%;"><a href="https://diablo2.blizzard.com/ko-kr/#masthead" target="_blank"><span style="color: #000000;">공식
홈페이지</span></a><span style="color: #000000;">에서</span>&nbsp;</span><font face="gulim, 굴림, Helvetica" style="max-width: 100%; background-color: initial; font-size: 17px; font-family: gulim, 굴림, Helvetica;">더
많은 정보를 확인해주시기 바라며, 디아블로2 : 레저렉션에 대한 자세한
정보들은&nbsp;</font><span style="font-size: 17px; background-color: rgb(255, 226, 226); max-width: 100%;"><a href="https://bbs.ruliweb.com/family/2086/board/300007/read/2226690?search_type=subject&amp;search_key=%EB%94%94%EC%95%84%EB%B8%94%EB%A1%9C" target="_blank" style="color: #1a70dc; max-width: 100%;"><span style="font-size: 17px; max-width: 100%; color: rgb(255, 153, 51);"><span style="font-size: 17px; max-width: 100%; color: rgb(255, 128, 0);">디아블로2 : 레저렉션 종합
정</span><span style="font-size: 17px; max-width: 100%; color: rgb(255, 128, 0);">보</span></span></a>에서
확인하실 수 있습니다.</span></p>
</blockquote>